<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="canonical" href="{{ canonical_url }}">
	<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

	{% if settings.favicon != blank %}
		<link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
	{% endif %}

	<title>
		{{ page_title }}
		{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>

	{% if page_description %}
		<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{% render 'assets' with 'theme.css', preload_stylesheet: true%}

	{{ content_for_header }}
</head>
<body>
	<div class="sticky top-0 z-10">
		{% section 'header' %}
	</div>

	{% section 'cart' %}

	{{ content_for_layout }}

	{% section 'footer-instagram-carousel' %}
	{% section 'footer' %}

	{% render 'hydrate' %}
	{% render 'assets' with 'theme.js'%}
</body>
</html>
