{% schema %}
{
	"name": "Banned Ingredients",
	"settings": [
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                }
            ]
        }
    ],
    "presets": [{
		"name": "Banned Ingredients",
		"category": "Marketing"
	}]
}
{% endschema %}

{% assign background_banned_ingredients = "Phthalates,Phthalates,Phthalates,Phthalates,Phthalates,Phthalates,Phthalates,Phthalates,Phthalates,Phthalates,Phthalates,Phthalates" | split: "," %}


<div class="overflow-hidden relative py-10 px-container-mobile md:px-container-desktop">
     {% for ingredient in background_banned_ingredients %}
        <div
            class="absolute 
                {% if forloop.index0 == 0 %}
                    top-[-5%] left-[5%] w-[30%] md:w-[20%] lg:w-[10%] lg:top-[2%] lg:left-[2%] opacity-15
                {% elsif forloop.index0 == 1 %}
                    top-[-100%] left-0 w-[14%] lg:top-[-10%] lg:left-[15%] opacity-20
                {% elsif forloop.index0 == 2 %}
                    top-[-100%] left-0 w-[14%] lg:top-[-20%] lg:left-[35%] opacity-10
                {% elsif forloop.index0 == 3 %}
                    w-[30%] top-[-9%] right-[-10%] md:w-[20%] lg:w-[10%] lg:top-[-10%] lg:right-[30%] opacity-15 md:opacity-50
                {% elsif forloop.index0 == 4 %}
                    top-[-100%] w-[11%] lg:top-[-7%] lg:right-[15%] opacity-20
                {% elsif forloop.index0 == 5 %}
                    top-[-100%] w-[14%] lg:top-[-7%] lg:right-[-5%] opacity-10
                {% elsif forloop.index0 == 6 %}
                    bottom-[35%] left-[-20%] w-[30%] md:w-[20%] lg:w-[14%] lg:bottom-[20%] lg:left-[-2%] opacity-10
                {% elsif forloop.index0 == 7 %}
                    bottom-[30%] left-[-100%] w-[30%] md:w-[20%] lg:w-[11%] lg:bottom-[17%] lg:left-[15%] opacity-20
                {% elsif forloop.index0 == 8 %}
                    bottom-[-10%] left-[-10%] w-[30%] md:w-[20%] lg:w-[11%] lg:bottom-[-10%] lg:left-[10%] opacity-10
                {% elsif forloop.index0 == 9 %}
                    bottom-[-10%] left-[-100%] w-[30%] md:w-[20%] lg:w-[11%] lg:bottom-[-15%] lg:left-[30%] opacity-10
                {% elsif forloop.index0 == 10 %}
                    w-[30%] bottom-[-9%] right-[-10%] md:w-[20%] lg:w-[10%] lg:bottom-[2%] lg:right-[15%] opacity-50
                {% elsif forloop.index0 == 11 %}
                    w-[30%] bottom-[15%] right-[-25%] md:w-[20%] lg:w-[14%] lg:bottom-[10%] lg:right-[-3%] opacity-20
                {% else %}
                    hidden
                {% endif %}
            ">
            <div class="bg-rust text-white aspect-square rounded-[50%] w-full p-[20%] flex flex-col justify-center items-center">
                <p class="text-center text-10/14 md:text-14/18 uppercase tracking-wide break-words">
                    {{ ingredient }}
                </p>
            </div>
        </div>
    {% endfor %}


	<div class="flex flex-col gap-3 md:gap-6 z-1 relative">
        <div
            data-component="bannedIngredients"
            class="flex flex-col gap-3">

            <div class="keen-slider overflow-visible">
                {% for block in section.blocks %}
                    <div class="keen-slider__slide banned-ingredients__slide">
                        <div class="banned-ingredients__slide-inner bg-rust text-white aspect-square rounded-full w-full p-[20%] flex flex-col justify-center items-center">
                            <p class="text-center text-24/30 md:text-36/44">
                                {{ block.settings.title }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="flex flex-col gap-3">
                <div class="text-center mx-auto max-w-48 rich-text line-break text-14/18 md:text-18/24">
                    {{ section.settings.description }}
                </div>

                {% if section.blocks.size > 1 %}
                    <div class="flex justify-center items-center">
                        <button
                        data-nav="previous"
                        class="block p-1 link-opacity-hover">
                        <img
                            src="{{ 'icon-arrow-carousel.svg' | asset_url }}"
                            alt="Previous"
                            class="block w-[21px] h-[8px] rotate-180"
                        />
                    </button>
                    <button
                        data-nav="next"
                        class="block p-1 link-opacity-hover">
                        <img
                            src="{{ 'icon-arrow-carousel.svg' | asset_url }}"
                            alt="Previous"
                            class="block w-[21px] h-[8px]"
                        />
                        </button>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>