{% schema %}
{
	"name": "Home Hero",
	"settings": [
        {
			"type": "checkbox",
			"id": "disable_window",
			"label": "Disable Window",
			"default": false
		},
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "options": [
                { "value": "left", "label": "Left" },
                { "value": "center", "label": "Center" },
                { "value": "right", "label": "Right" }
            ],
            "default": "center"
        },
		{
			"type": "richtext",
			"id": "title",
			"label": "Title"
		},
        {
			"type": "richtext",
			"id": "subtitle",
			"label": "Subtitle"
		},
        {
			"type": "url",
			"id": "url",
			"label": "URL"
		},
        {
			"type": "text",
			"id": "cta",
			"label": "CTA"
		},
		{
			"type": "image_picker",
			"id": "background_image",
			"label": "Background Image"
		}
	],
    "presets": [{
		"name": "Home Hero",
		"category": "Hero"
	}]
}
{% endschema %}

{% assign text_alignment = section.settings.text_alignment | default: 'center' %}

<div class="relative overflow-hidden mt-[-60px] md:mt-[-65px]">
    <div
        data-component="parallaxBackground"
		class="absolute inset-x-0 inset-y-[-10vh]">
        <div
            data-component="image"
            class="image absolute inset-0">
            <picture class="blur-xl scale-110">
                <source
                    data-srcset="{{ section.settings.background_image | image_url: width: 2000 }}"
                    media="(min-width: 1200px)">
                <source
                    data-srcset="{{ section.settings.background_image | image_url: width: 1400 }}"
                    media="(min-width: 1000px)">
                <source
                    data-srcset="{{ section.settings.background_image | image_url: width: 1200 }}"
                    media="(min-width: 800px)">
                
                {% assign lqip = section.settings.background_image | format: 'jpg' | image_url: width: 10 %}
                <img
                    src="{{ lqip }}"
                    data-src="{{ section.settings.background_image | image_url: width: 800 }}"
                    alt="{{ section.settings.background_image.alt }}"
                />
            </picture>
        </div>
    </div>

    {% if section.settings.disable_window %}
        <div class="relative z-1 text-white">
            <div class="px-container-mobile md:px-container-desktop py-4 min-h-hero-90 flex flex-col justify-center items-center">
                <div class="max-w-grid mx-auto">
                    <div class="grid grid-cols-6 md:grid-cols-12 gap-x-gutter-mobile md:gap-x-gutter-desktop">
                        <div class="
                            col-span-6 md:col-span-8 lg:col-span-6 px-1 md:px-0
                            {% if text_alignment == 'center' %}
                                md:col-start-3 lg:col-start-4
                            {% elsif text_alignment == 'right' %}
                                md:col-start-5 lg:col-start-7
                            {% endif %}
                            ">
                            {% comment %} header height {% endcomment %}
                            <div class="h-6 md:h-[65px]"></div>

                            <div class="flex flex-col gap-2 md:gap-4">
                                <div class="flex flex-col gap-1">
                                    <div class="text-center rich-text font-serif rich-text-bold-sans-regular text-36/36 md:text-70/70">
                                        {{ section.settings.title }}
                                    </div>
                                    
                                    <div class="text-center rich-text font-serif rich-text-bold-sans-regular text-36/36 md:text-70/70">
                                        {{ section.settings.subtitle }}
                                    </div>
                                </div>
                                
                                {% if section.settings.url and section.settings.cta %}
                                    <div class="flex justify-center items-center">
                                        <a 
                                            href="{{ section.settings.url }}"
                                            class="block button button-primary">
                                            {{ section.settings.cta }}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="relative z-1">
            <div class="px-container-mobile md:px-container-desktop pt-12 md:pt-14">
                <div class="max-w-grid mx-auto">
                    <div class="grid grid-cols-6 md:grid-cols-12 gap-x-gutter-mobile md:gap-x-gutter-desktop">
                        <div class="col-span-6 md:col-span-8 md:col-start-3 lg:col-span-6 lg:col-start-4 px-1 md:px-0">
                            <div class="bg-green text-white rounded-t-10 pt-3 md:pt-4 px-2 md:px-6">
                                <div class="text-center rich-text font-serif rich-text-bold-sans-regular text-36/36 md:text-70/70">
                                    {{ section.settings.title }}
                                </div>
                            </div>
        
                            <div class="px-4 py-3 md:py-4 flex justify-center items-center overflow-hidden">
                                <div class="w-full max-w-20 md:max-w-30">
                                    <div class="aspect-square md:aspect-video rounded-10 hero-hole">
                                    </div>
                                </div>
                            </div>
        
                            <div class="bg-green text-white rounded-b-10 pb-3 md:pb-4 px-2 md:px-6 flex flex-col gap-3 md:gap-4">
                                <div class="text-center rich-text font-serif rich-text-bold-sans-regular text-36/36 md:text-70/70">
                                    {{ section.settings.subtitle }}
                                </div>

                                
                                
                                {% if section.settings.url and section.settings.cta %}
                                    <hr />
        
                                    <div class="flex justify-center items-center">
                                        <a 
                                            href="{{ section.settings.url }}"
                                            class="block button button-primary">
                                            {{ section.settings.cta }}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>