{% schema %}
{
	"name": "Product Hero",
	"settings": [],
    "presets": [{
		"name": "Product Hero",
		"category": "Product"
	}]
}
{% endschema %}


{% assign product_title_parts = product.title | split: "-" %}
{% assign product_title = product_title_parts[0] | trim %}
{% assign product_subtitle = product_title_parts[1] | trim %}
{% assign product_size = product.metafields.custom.size %}
{% assign product_drawers = product.metafields.custom.hero_drawers.value %}
{% assign product_upsell_product = all_products[product.metafields.custom.upsell_product] %}

{% capture product_header %}
    <div class="flex flex-col gap-half">
        <div class="flex justify-between gap-1 items-baseline">
            <h1 class="uppercase text-30/38 md:text-36/45">
                {{ product_title }}
            </h1>

            <p class="text-18/24 md:text-24/30">
                {{ product.price | money_without_trailing_zeros }}
            </p>
        </div>

        <div class="flex justify-between gap-1 items-baseline">
            <div>
                {% if product_subtitle != blank %}
                    <p class="font-serif">
                        {{ product_subtitle }}
                    </p>
                {% endif %}
            </div>

            <p class="text-16/20">
                {{ product_size }}
            </p>
        </div>

        <div style="display: none;">
            <div
                class="yotpo-widget-instance"
                data-yotpo-instance-id="961416"
                data-yotpo-product-id="{{ product.id }}"
                data-yotpo-cart-product-id="{{ item.product.id }}"
                data-yotpo-section-id="{{ template.name }}">
            </div>
        </div>
    </div>
{% endcapture %}

{% capture product_description %}
    <div class="border-y border-solid border-green py-2">
        <div class="rich-text line-break font-serif">
            {{ product.description }}
        </div>
    </div>
{% endcapture %}

{% capture product_form %}
    {% assign is_subscription = false %}

    {% if product.selected_or_first_available_selling_plan_allocation %}
        {% assign is_subscription = true %}
    {% endif %}

    {% form 'product', product, data-component: "productFormSubscription" %}
        <div class="flex flex-col gap-1">
            {% if is_subscription %}
                <input
                    type="hidden"
                    name="id"
                    value="{{ product.selected_or_first_available_variant.id }}"
                />
                
                <input
                    type="hidden"
                    name="selling_plan_id"
                    value="{{ product.selling_plan_groups[0].selling_plans[0].id }}"
                    type="hidden"
                />
    
                <div class="flex flex-col gap-1">
                    <label class="text-12/12 uppercase tracking-wide">Frequency:</label>
    
                    <label class="input-subscription-option">
                        <input 
                            type="radio"
                            name="purchase_type"
                            value="one-time"
                            class="input-subscription-option__input"
                        />
    
                        <div class="input-subscription-option__indicator-container py-1 px-2 border border-solid rounded-20">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center gap-1">
                                    <div class="input-subscription-option__indicator"></div>
                                    <span class="text-18/18 font-serif input-subscription-option__label">One-time Purchase</span>
                                </div>
    
                                <span class="text-14/14 input-subscription-option__label">{{ product.price | money_without_trailing_zeros }}</span>
                            </div>
                        </div>
                    </label>
                    
                    <label class="input-subscription-option">
                        <input 
                            type="radio"
                            name="purchase_type"
                            value="subscription"
                            class="input-subscription-option__input"
                            checked
                        />
    
                        <div class="input-subscription-option__indicator-container py-1 px-2 border border-solid rounded-20">
                            <div class="flex flex-col gap-1">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center gap-1">
                                        <div class="input-subscription-option__indicator"></div>
                                        <span class="text-18/18 font-serif input-subscription-option__label">Subscribe & Save</span>
                                    </div>
    
                                    <span class="text-14/14 input-subscription-option__label flex gap-half">
                                        <span class="line-through opacity-50">
                                            {{ product.price | money_without_trailing_zeros }}
                                        </span>
                                        <span>
                                            {{ product.selected_or_first_available_selling_plan_allocation.price | money_without_trailing_zeros }}
                                        </span>
                                    </span>
                                </div>
    
                                <div class="relative z-2 pl-[28px] input-subscription-option__details">
                                    <div class="relative">
                                        <select
                                            name="selling-plan-select"
                                            class="input-select block w-full">
                                            {% for allocation in product.variants[0].selling_plan_allocations %}
                                                <option value="{{ allocation.selling_plan.id }}">
                                                    {{ allocation.selling_plan.name }}
                                                </option>
                                            {% endfor %}
                                        </select>

                                        <img
                                            src="{{ 'icon-arrow-drawer.svg' | asset_url }}"
                                            alt="Arrow"
                                            class="block w-[12px] absolute top-1 right-[12px]"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
            {% endif %}
    
            <div class="w-full relative z-1">
                <button
                    {% unless product.available %}disabled="true"{% endunless %}
                    type="submit"
                    class="block w-full button button-primary-brown">
                    {% if product.available %}
                        {% if is_subscription %}
                            Add to Cart
                        {% else %}
                            Add to Cart
                        {% endif %}
                    {% else %}
                        Sold Out
                    {% endif %}
                </button>
            </div>
        </div>
    {% endform %}
{% endcapture %}

{% capture product_hero_drawers %}
    <div class="border-t border-solid border-green">
        {% for drawer in product_drawers %}
            <div
                data-component="drawer"
                class="border-b border-solid border-green">
                <button
                    class="py-1 w-full flex justify-between items-center">
                    <div class="font-serif text-18/24">
                        {{ drawer.title }}
                    </div>
                    <img
                        src="{{ 'icon-arrow-drawer.svg' | asset_url }}"
                        alt="Arrow"
                        class="block w-[17px] h-[9px] drawer-indicator"
                    />
                </button>
                <div
                    style="display: none;"
                    class="drawer-content overflow-hidden">
                    <div class="font-serif rich-text line-break pb-2">
                        {{ drawer.description | metafield_tag }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endcapture %}

{% capture product_upsell_product_card %}
    {% if product_upsell_product != blank %}
        {% assign featured_product = product_upsell_product %}
        {% assign featured_product_title_parts = featured_product.title | split: "-" %}
        {% assign featured_product_title = featured_product_title_parts[0] | trim %}
        {% assign featured_product_subtitle = featured_product_title_parts[1] | downcase | trim %}
        {% assign featured_product_description = featured_product.metafields.custom.tile_description %}
        {% assign featured_product_color = featured_product.metafields.custom.color %}
        {% assign featured_product_image = featured_product.featured_image %}

        <div class="border border-solid rounded-10 overflow-hidden relative max-w-32">
            <div class="border-b border-solid px-1 py-half bg-white">
                <p class="text-center text-12/16 uppercase tracking-wide">Bundle & Save</p>
            </div>
            <div class="py-1 px-2 bg-gray-light">
                <div class="flex gap-2 items-center">
                    <div class="w-8">
                        <div
                            data-component="image"
                            class="image w-full aspect-square">
                            <picture class="blur-xl scale-110">
                                {% assign lqip = featured_product_image | format: 'jpg' | image_url: width: 10 %}
                                <img
                                    src="{{ lqip }}"
                                    data-src="{{ featured_product_image | image_url: width: 400 }}"
                                    alt="{{ featured_product_image.alt }}"
                                />
                            </picture>
                        </div>
                    </div>

                    <div class="flex flex-col gap-1 flex-grow">
                        <div class="text-center">
                            <p>
                                <a
                                    aria-label="{{ featured_product_title }}"
                                    href="{{ featured_product.url }}"
                                    class="link-cover link-opacity-hover uppercase tracking-wide text-16/16">
                                    {{ featured_product_title }}
                                </a>
                            </p>
                    
                            {% if featured_product_subtitle != blank %}
                                <p class="font-serif text-12/12">
                                    {{ featured_product_subtitle }}
                                </p>
                            {% endif %}
                        </div>

                        <div class="relative z-1">
                            {% form 'product', featured_product, data-component: "productFormQuickAdd" %}
                                <input
                                    type="hidden"
                                    name="id"
                                    value="{{ featured_product.selected_or_first_available_variant.id }}"
                                />
                                <div class="w-full relative z-1">
                                    <button
                                        {% unless featured_product.available %}disabled="true"{% endunless %}
                                        type="submit"
                                        class="block w-full button button-size-small button-primary">
                                        {% if featured_product.available %}
                                            {{ featured_product.price | money_without_trailing_zeros }} | Add to Cart
                                        {% else %}
                                            Sold Out
                                        {% endif %}
                                    </button>
                                </div>
                            {% endform %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endcapture %}

<div class="px-container-mobile md:px-container-desktop my-2 md:my-4">
    <div class="mx-auto max-w-grid">
        <div class="grid grid-cols-6 md:grid-cols-12 gap-y-4 gap-x-gutter-mobile md:gap-gutter-desktop">
            <div class="col-span-6 xl:col-span-5 xl:col-start-2 md:pl-4 xl:pl-0">
                {% render 'product-hero-image-carousel', images: product.images %}
            </div>
            <div class="col-span-6 xl:col-span-5">
                <div class="xl:px-5 md:py-3 flex flex-col gap-2">
                    {{ product_header }}
                    {{ product_description }}
                    {{ product_form }}
                    {{ product_hero_drawers }}
                    {{ product_upsell_product_card }}
                </div>
            </div>
        </div>
    </div>
</div>